$purple: #8D67AB;
$lightPurple: #B49BC8;
$blue: #7358FF;
$lightBlue: #7358FF;
$orange: #F47C75;
$pink: #AF2896;
$red: #EB1E32;
$green: #148A08;
$lightGreen: #27856A;
$sun: #F7BC49;
$blackBackground: #070707;
$grayBackground: #121212;

.table {
    display: grid;
    width: 70%;
    height: 3em;
    margin: auto;
    grid-template-columns: 3% 1fr 1fr 1fr 18%;

    color: #d8d8d8;

    div {
        align-items: center;
        border-bottom: 1px solid rgba(197, 197, 197, 0.227);
        border-right: 1px solid rgba(197, 197, 197, 0.178);
    }
}

.blueClick {
    background-color: #947fff;

}

.orangeClick {
    background-color: #f18e89;
}

.greenClick {
    background-color: #42aa8c;
}

.btnSmall {
    width: 30px;
    height: 32px;
}

.btnBig {
    width: 40px;
    height: 32px;
}

.btnBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    background-color: $purple;

    .btnSave {
        background: url('./check.png')0 0 /100% no-repeat;
    }

    .btnNone {
        background-color: $purple;
    }

    .btnEdit {
        background: url('./pencil.png')0 0 /100% no-repeat;
    }

    .btnDelete {
        background: url('./delete.png')0 0 /100% no-repeat;
    }


    button {
        border: none;
        border-radius: 8%;
        margin: 5px;
        transition: 0.3s;

        &:hover {
            transform: scale(1.09);
        }
    }
}

.purple {
    background-color: $purple;
}

.lightPurple {
    background-color: $lightPurple;
}

.green {
    background-color: $green;
}

.lightGreen {
    background-color: $lightGreen;
}

.lightBlue {
    background-color: $lightBlue;
}

.blue {
    background-color: $blue;
}

.pink {
    background-color: $pink;
}

.orange {
    background-color: $orange;
}

.sun {
    background-color: $sun;
}

.fade {
    background-color: $grayBackground;
}

.boldFont {
    font-weight: 600;
}