$purple: #8D67AB;
$lightPurple: #B49BC8;
$blue: #7358FF;
$lightBlue: #7358FF;
$pink: #F47C75;
$darkPink: #AF2896;
$red: #EB1E32;
$green: #148A08;
$lightGreen: #27856A;
$sun: #F7BC49;
$blackBackground: #070707;
$grayBackground: #121212;